body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 36px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.heading {
    margin-top: 200px;
    font-size: 60px;
    font-weight: 700;
}

button {
    font-size: 36px;
    padding: 10px 50px;
    width: 300px;
    text-align: center;
    background-color: rgb(219, 94, 48);
    border-color: coral;
    border-width: 5px;
    border-radius: 8px;
    color: white;
}

#rounds {
    padding: 5px 20px;
    width: 600px;
}